*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#2c3e50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

h1{
    color: #e2504c;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    background-color: #2c2c2c;
    height: 200px;
    width: 150px;
    border: 5px solid #e2504c;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.cards .card:hover{
    border-color: #00b894;
    transform: scale(1.1);
}

.card img{
    width: 70px;
}

.line{
    position: absolute;
    background-color: #e2504c;
    height: 100vh;
    width: 120vw;
    transform-origin: top left;
    transform: translate(20px, 108.5vh) rotate(-25.4deg);
    opacity: 0;
    z-index: -2;
    transition: opacity .7s ease-in;
}

.vs{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.oponente{
    position: absolute;
    cursor: default;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    transform: translate(300px, 300px);
}

.reset{
    background-color: #2c3e50;
    color: white;
    font-size: 2rem;
    padding: 1rem 3rem;
    z-index: 9;
    border: 5px solid #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.reset:hover{
    border-color: white;
}

.placar{
    position: absolute;
    left: 0px;
    top: 40vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    opacity: 1;

}

.resultado-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.resultado-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
