*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#2c3e50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}

h1{
    color: #e2504c;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    background-color: #2c2c2c;
    height: 200px;
    width: 150px;
    border: 5px solid #e2504c;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

.cards .card:hover{
    border-color: #00b894 !important;
    transform: scale(1.1) !important;
}

.card img{
    width: 70px;
}

.line{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #e2504c;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    opacity: 0;
    z-index: -2;
    transition: opacity .7s ease-in;
}

.vs{
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.oponente{
    position: absolute;
    cursor: default;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    transform: translate(300px, 300px);
}

.reset{
    background-color: #2c3e50;
    color: white;
    font-size: 2rem;
    padding: 1rem 3rem;
    z-index: 9;
    border: 5px solid #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.reset:hover{
    border-color: white;
}

.placar{
    background-color: #2c2c2c;
    font-size: .8rem;
    width: 70px;
    padding: .5rem;
    border: 2px solid #e2504c;
    border-radius: 10px;
    position: absolute;
    left: 50;
    top: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    opacity: 1;
    cursor: pointer;
    transition: all 1s ease;
}

.placar:hover{
    border-color: #00b894;
}

.placar:hover .resultado-container{
    border-color: #00b894;
}


.resultado-container{
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    opacity: 0;
    transition: all .5s ease;
    border-top: 1px solid #e2504c;
}

.resultado-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resultado-container span{
    color: #e2504c;
}
